{% extends '_layouts/base.njk' %}
{% block page_title %}Billboard Hits{% endblock %}

{% block page_description %} Billboard Hits chart for Queen {% endblock %}

{% block content %}
<div class="overflow-auto">
  <iframe title="Queen Billboard Hits" aria-label="Split Bars" id="datawrapper-chart-gVDIm" src="https://datawrapper.dwcdn.net/gVDIm/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="760">
  </iframe>
  <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
  </script>
</div>


 {% endblock %}