{% extends '_layouts/base.njk' %}
{% set discography = queen.discography %}

{% block page_title %} Discography {% endblock %}
{% block page_description %} Queen Discography {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
      <h1 class="discography" style="text-align:center"> Discography </h1>
      <div id= "content">
    </div>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card-columns">
                    {% for discography in queen.discography %}
              <div class="card text-center">
                <img src="img/discs/{{discography.image}}" class="card-img-top" alt="{{discography.title}}">
                <div class="card-body">
                  <h3 class="card-title">{{discography.title}}</h3>
                  <h4 class="card-text">{{discography.year}}</h4>
                </div>
            </div>
  {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
