{% extends '_layouts/base.njk' %}

{% block page_title %} Queen {% endblock %}

{% block page_description %} Information on the band "Queen."{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1> Queen </h1>
    <div id= "content">
   <p> Random Queen text </p>
   </div>
<div class= "member pages">
     {% for member in queen.members %}
    <h3 class="member name"> <a href="{{ member.url }}">{{ member.name }}</a></h3> 
  <p class="member instruments">{{ member.instruments }}</p>
  <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
