{% extends '_layouts/base.njk' %}

{% block page_title %} Queen {% endblock %}

{% block page_description %} Information on the band "Queen."{% endblock %}

<link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet">
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1 class="headline" style="text-align:center"> Who is Queen? </h1>
    <div id= "content">
   <p style="text-align:justify"> Queen is a British rock band formed in London in 1970. Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock. </p>
   <p style="text-align:justify"> Queen have been credited with making a significant contribution to genres such as hard rock and heavy metal. The band have been cited as an influence by many other musicians. Moreover, like their music, the bands and artists that have claimed to be influenced by Queen or have expressed admiration for them are diverse, spanning different generations, countries, and genres. </p>
   <p style="text-align:justify"> -Source: <a href="https://en.wikipedia.org/wiki/Queen_(band)"  target="_blank">Wikipedia</a></p>
   </div>
  <div class="card-deck">
{% for member in queen.members %}
  <div class="col-sm">
    <div class="card text-center">
      <img src="img/members/{{member.imagebw}}" class="card-img-top" alt="{{member.name}}">
      <div class="card-body">
      <h5 class="card-title">{{member.name}}</h5>
      <p class="card-text">{{member.instruments}}</p>
      <a href="{{member.url}}" class="btn btn-primary"> Learn More </a>
      </div>
    </div>
  </div>
{% endfor %}
  </div>
{% endblock %}
