{% extends '_layouts/base.njk' %}

{% block page_title %} Queen {% endblock %}

{% block page_description %} Information on the band "Queen."{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1> Queen </h1>
    <div id= "content">
   <p> Random Queen text </p>
   </div>
        <div class="card-deck">
        {% for member in queen.members %}
  <div class="card text-center">
    <img src="img/members/{{member.imagebw}}" class="card-img-top" alt="{{member.name}}">
    <div class="card-body">
      <h5 class="card-title">{{member.name}}</h5>
      <p class="card-text">{{member.instruments}}</p>
      <a href="{{member.url}}" class="btn btn-primary"> Learn More</a>
    </div>
</div>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
