{% extends '_layouts/member-page.njk' %}
{% set members = queen.members[0] %}
{% block page_title %}{{ members.name }}{% endblock %}

{% block page_description %} Detail page entry for {{ members.name }}. {% endblock %}

{% block story %}
  <h1>{{ members.name }}</h1>
  <h5> {{ members.instruments }}</h5>
  <p> Freddie Mercury text </p>
<div>
<img src= "{{ members.image }}" class="img-fluid" alt="members.name image">
{% endblock %}