.grid {
  padding: 10px;
}

.discography {
  text-align: center;
  font-weight: bold;
  font-family: 'New Rocker', cursive;
  padding-bottom: 30px;
  color: red;
}

.media {
  border-style: solid;
  border-color: black;
}

