/*jumbotron*/

.jumbotron {
  background: url(../img/queen-logo-resize.png) no-repeat center;
  background-size: auto 100%;
  color: red;
  padding: 50px;
}

.display-4 {
  font-family: 'Rock Salt', cursive;
}